body{
    display: block;
    background-image: url("@/assets/image/bg-pokemon.png");
}

.pm-logo__pokemon{
    display: block;
    margin: 0 auto;
    width: 400px;
    padding: 20px 0;
    
    @media (max-width: 900) {
        width: 250px;
    }
}

.pm-pokemon__detail{
    display: block;
    text-align: -webkit-center;
}

.pm-image__pokemon{
    width: 300px;
    height: auto;
}

.pm-detail__karakter{
    display: flex;
    margin-top: 5px;
}

.pm-card__pokemon{
    &:hover{
        border: 2px solid;
        border-color: rgb(255 204 8);
        transform: translateY(-2%);
        box-shadow: 0 22px 30px -15px rgb(44 112 174 / 20%);
        
        .pm-card_image{
            mix-blend-mode: multiply;
        }
    }
    
    .pm-card_image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        mix-blend-mode: multiply;
    }
}
